@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		padding: 0;
		box-sizing: border-box;
	}
	.sidebar-container {
		@apply h-full w-[14rem] border transition-all duration-500 border-solid relative;
	}
	.sidebar {
		@apply flex items-center rounded-lg p-3 cursor-pointer hover:bg-purple-200 transition-all duration-300;
	}
}

@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}
